@* Components.Pages.Login.razor *@

@page "/login"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider authProvider


<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Username:</label>
        <InputText @bind-Value="loginModel.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage;
    private string Name;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authProvider.GetAuthenticationStateAsync();
        Name = authState.User.Identity.Name;


    }
    private async Task HandleLogin()
    {

    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
} 